//
//  Secrets.production.xcconfig
//  Convos
//
//  Created by Joe Ferrucci on 4/8/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// This file is used to store secrets for the PRODUCTION environment.
// It is not checked into the repository.

// Example:
// MY_PROD_SECRET_KEY=1234567890

